<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">BACKERS</a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li>
          <a class="nav-link px-2 link-body-emphasis" href="/">Главная</a>
        </li>
        {% if user.is_staff or user.is_superuser %}
          <li>
            <a class="nav-link px-2 link-body-emphasis" href="{% url 'users:user_list' %}">Список всех пользователей</a>
          </li>
        {% elif user.is_authenticated %}
          <li>
            <a class="nav-link px-2 link-body-emphasis" href="{% url 'posts:user_posts' %}">Мои Публикации</a>
          </li>
          {% if not user.is_vip %}
            <li>
              <a class="nav-link px-2 link-body-emphasis" href="{% url 'users:payment_vip' %}">Оплатить Vip</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>

      <div class="col-md-3 col-sm-5">
        <li>
          <a class="px-2 link-body-emphasis">Ник: {{ user }}</a>
        </li>
        <li>
          {% if user.is_pay %}
            <a class="px-2 link-body-emphasis">Статус: Vip</a>
          {% elif user.is_staff and user.is_superuser %}
            <a class="px-2 link-body-emphasis">Статус: Администратор</a>
          {% elif user.is_staff %}
            <a class="px-2 link-body-emphasis">Статус: Модератор</a>
          {% else %}
            <a class="px-2 link-body-emphasis">Статус: Пользователь</a>
          {% endif %}
        </li>
      </div>

      <div class="text-end">
        {% if user.is_authenticated %}
          <form method="post" action="{% url 'users:logout' %}">
            {% csrf_token %}
            <a type="button" class="btn btn-outline-dark me-2" href="{% url 'users:profile' %}">Изменить профиль</a>
            <button type="submit" class="btn btn-warning">Выйти</button>
          </form>
        {% else %}
          <a type="button" class="btn btn-outline-dark me-2" href="{% url 'users:login' %}">Войти</a>
          <a type="button" class="btn btn-warning" href="{% url 'users:register' %}">Регистрация</a>
        {% endif %}
      </div>
    </div>
  </div>
</header>
